ConversionTools/Validation/radars.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Lat" type="xs:float"/>
  <xs:element name="Long" type="xs:float"/>
  <xs:element name="Radar">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Lat"/>
        <xs:element ref="Long"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="Name" use="required"/>
      <xs:attribute type="xs:string" name="Type" use="required"/>
      <xs:attribute type="xs:short" name="Elevation" use="required"/>
      <xs:attribute type="xs:short" name="MaxRange" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Radars">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Radar" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="generated"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
